.loginnew {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background:#3792FF url(../../cby/img/login/bgbgimp.png)  no-repeat center center ;
  background-size:auto 100%;
  /* background-image: url(../../cby/img/login/bgcio.png);
  background-color: #3792FF;
  background-size: 100% 100%; */
  box-sizing: border-box;
  position: relative;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}


.logo {
  /* margin-top: 60px;
  margin-left: 80px; */
  color: #FFFFFF;
  font-size: 28px;
  font-weight:400;
  align-items: center;
  position: absolute;
  top:2% ;
  left: 3%;
}

.logcont {
  margin-top: 8%;
  box-sizing: border-box;
}



.loginform {
  box-sizing: border-box;
  width: 400px;
  /* min-width: 400px; */
  height: 460px;
  /* max-height: 490px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  position: relative;
  left: 65%;
  border-radius: 4px;
  top: 50%;
  transform: translateY(30%);
}

.login-top {
  width: 100%;
  height: 26.5%;
  /* line-height: 26.5%; */
  text-align: center;
  box-sizing: border-box;
}

.login-title {
  color: #313A62;
  font-size: 24px;
  margin: 10px 0 0 30px;
  padding: 2px 0 0 10px;
  position: relative;
}
.login-title::before{
  content: "";
  display: block;width: 6px;position: absolute;left: -3px;
  top: 6px;height: 30px;background-color: #1E73FF;
}



.login-qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  right:  36px;
  width: 60px;
  height: 60px;
}

.login-qrcode.iconfont {
  font-size: 50px;
  color: #2ecde3;
}

.codewrap {
  /* 二维码外框 */
  margin-top: 53px;
  padding: 10px;
}

.unefficacycodewrap {
  /* 失效二维码外框 */
  width: 116%;
  height: 92%;
  position: absolute;
  top: 14%;
  left: -9%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
}

.unefficacycodewrap2 {
  position: absolute;
  top: 36%;
  left: 26%;
}

.unefficacy-title {
  font-size: 16px;
  color: #000;
}

.freshcode {
  background: #fff !important;
  color: #313A62 !important;
  border: 0 !important;
  padding: 4px;
}

.freshcode span {
  font-size: 14px;
}

.lgwrapper {
  width: 80%;
  height: 75%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}


/* .lgbutton {
  background: #1E73FF !important;
  color: #fff !important;
  border: 1px solid #1E73FF !important;
  font-size: 20px !important;
  border-radius:4px !important;
} */

.lgform .ant-input-affix-wrapper .ant-input:not(:first-child) {
  height: 50px !important;
  color: #313A62 !important;
  padding-left: 50px;
  font-size: 18px;
  /* border: 3px solid red !important; */
  /* border-bottom: 1px solid #c0c3cf !important; */
  border:none !important;
  background: #fff !important;
}


 .ant-input-affix-wrapper .ant-input:focus {
  border: none !important;
  /* border-bottom: 1px solid white !important; */
  box-shadow: none !important;
}



/* usersInput ant-input-affix-wrapper */

 .ant-input-affix-wrapper {
  border-bottom: 1px solid #c0c3cf ;
}


 /* input {
  outline: none
}

input:focus {
  outline: none;
}  */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #313A62 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #313A62 !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #313A62 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #313A62 !important;
}



.lgform .ant-form-explain {
  margin-bottom: -20px;
}



@media screen and (max-width: 1367px) {
  .logcont {
    margin-top: 3%;
  }

  .logo {
    margin-top: 40px;
    margin-left: 60px;
  }

  .acrossturn {
    top: 5%;
  }

  .lgwrapper {
    margin-bottom: 30px;
  }

  .snapline {
    top: 26%;
  }

  .codewrap {
    margin-top: 53px;
  }
  .tetsssBox .tetsss p:nth-child(1){
    font-size: 30px;
  }
   .tetsssBox .tetsss p:nth-child(2){
    font-size: 15px;
  }
  .tetsbbo{
    animation: lelb  6s infinite ;
  }
  .loginform {
    left: 56%;
    transform: translateY(47%);
  }

}

.copyright {
  position: absolute;
  left: 44%;
  bottom: 10px;
  font-size: 12px;
  color: #fff;
}
/*
.ant-input-affix-wrapper .ant-input:not(:first-child) {
  border: none !important;
}
.ant-input-affix-wrapper .ant-input:not(:first-child):focus {
  border: none;
  border-bottom: 1px solid white !important;
  box-shadow: none;
}  */



.clearfix {
    *zoom: 1;
}
.fl{
  float: left;
}
.rg{
  float: right;
}
.tetsssBox{
  position: absolute;
  top: 31%;
  left: 12%;
  width: 580px;
  height: 120px;
  overflow: hidden;
}

.tetsbbo{
  position: absolute;
  top: 0;
  left: 0;
  width: 12000px;
  height: 120px;
  animation: lelb  12s infinite ;
}

.tetsss{
  position: absolute;
  top: 0;
}

.tetsss p{
  margin: 0;
  font-weight: 400;
  color: #FFFFFF;
}
.tetsss p:nth-child(1){
  font-size: 48px;
}
.tetsss p:nth-child(2){
  font-size: 24px;
}



@keyframes lelb{
  0%{ left: 0;}
  25%{left: -600px;}
  50%{left: -1200px;}
  75%{left: -1800px;}
  100%{left: -2400px;}
}

input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #313A62 !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  background-image: none !important;
  transition: background-color 50000s ease-in-out 0s !important;
}
