/* 英文、数字为这个字体*/
.fontAr{
    font-family:Ariai;
}
.fontCh{
    font-family:Microsoft Yahei;
}
/*查询 修改 新增*/
.queryBtn{
    background:#1E73FF!important;
    border: 1px solid #1E73FF!important;
    color:#ffffff!important;
}
.queryBtn:hover{
    background: #1E73FF!important;
    border: 1px solid #1E73FF!important;
    color:#ffffff!important;
}
/*删除 不通过*/
.deleteBtn{
    background:#FF7D46!important;
    border: 1px solid #FF7D46!important;
    color:#ffffff!important;
    border-radius: 4px;
}

/*.deleteBtn:hover{
    background:#d01616!important;
    border: 1px solid #d01616!important;
    color:#ffffff!important;
}*/
/*通过*/
.adoptBtn{
    background:#5063ee!important;
    border: 1px solid #5063ee!important;
    color:#ffffff!important;
}
.adoptBtn:hover{
    background:#4152cd!important;
    border: 1px solid #4152cd!important;
    color:#ffffff!important;
}
/*一键处理*/
.processingBtn{
    color: #5063ee!important;
}

/*弹层input颜色*/
.ModelFormInput{
    background: #fff!important;
}
/*弹窗*/
.ant-modal-header {
    border-radius: 4px 4px 0 0;
    background: #fff;
    color: #000000;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: 0px 0px 0px rgba(255,32,32,0.6);
}

.ant-modal-footer{
    margin-top: -18px!important;
    padding-bottom: 22px!important;
}
/*表格*/
.ant-table-wrapper{
    background-color: #fff;
}
.ant-table-tbody > tr > td{
    border: none!important;
}
.ant-table-tbody > tr:nth-child(odd){
    background-color: #fff;
}
.ant-table-tbody > tr:nth-child(even){
    background-color: #F5F5FA;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #1E73FF!important;   /* 菜单选中的颜色 */
    color:#fff;
}
/*.ant-card-bordered {
    border: 1px solid #4C5784!important;
}
.ant-card-head {
    border-bottom: 1px solid #4C5784!important;
}*/
.ant-timeline-item-head {
    background-color: #323A5D !important;
}
/*!*弹层字颜色*!*/
.tc-label label{
    color: #000!important;
}
/*.ant-btn + .ant-btn {
    margin-left: 20px!important;
}*/
.warrper .ant-input,.Alarmlist .ant-input,.PatrolHostory .ant-input,.PatrolRecord .ant-input,
.RollcallHostory .ant-input,.RollcallRecord .ant-input,.RollcallTask .ant-input{
    background: #F5F5FA!important;
    color: #454D71!important;
    border: none;
}
/*查询框前字*/
/*.Alarmlist .ant-form-item-label label,.PatrolHostory .ant-form-item-label label,
.PatrolRecord .ant-form-item-label label,.RollcallRecord .ant-form-item-label label,
.RollcallTask .ant-form-item-label label,.warrper .ant-form-item-label label{
    color:#fff!important;
}*/
.ant-table-placeholder {
    min-height: 200px !important;
    padding-top: 100px;
}
.Settime{
    padding: 20px
}
.tc-label label{
    color: #000!important;
}
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after{
    border: none!important;
}
.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
    margin: 0!important;
}
.ant-menu-sub .ant-menu-item{
    padding-left: 80px!important;
}
