.Messages .ant-tabs-nav{
  font-weight:bold;
  font-size:20px;
}

.Messages .ant-tabs-nav .ant-tabs-tab {
    width: 160px;
    /* height: 50px; */
    height: 100%;
    color: #313A62;
    text-align: center;
    margin: 0;
    /* padding: 0; */
    padding: 10px 16px 10px 0;
    background: url(../img/message/noactiv_ta.png) no-repeat;
    background-size: cover;
    opacity: .7;
    /* font-weight:bold; */
    /* font-size:20px; */
}
.Messages .ant-tabs-nav .ant-tabs-tab:hover {
    width: 178px;
    color: #313A62 !important;
     opacity: 1;
    /* height: 68px; */
    /* background: url(../img/message/no4activ_ta.png) no-repeat; */

}
.Messages .ant-tabs-ink-bar{
  width: 0 !important;
}
.Messages .ant-tabs-nav .ant-tabs-tab-active {
    /* background-image: url(../img/message/activ_ta.png) !important; */
    background: url(../img/message/activ_ta.png) no-repeat  !important;
    background-size: cover;   
    color: #313A62 !important;
    font-weight:bold;
     opacity: 1;
    /* background-color: #000 !important; */
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.fl{
  float: left;
}
.rg{
  float: right;
}
.messData_mid{
  line-height: 100%;
  margin-right: 20px;
}


.Messages .ant-tabs-bar {
    margin: 0;
}
.Messages .Panel_cla{
  border: none;
  border-bottom:none !important ;
}
.Messages .Panel_cla div{
  border: none;
  border-bottom:none !important ;
}
.Messages .Panel_cla:nth-child(2n){
  background: #F5F5FA;
}
.Messages .Panel_cla:nth-child(2n-1){
  background: #FFFFFF;
}
.Messages .ant-collapse {
    border: none !important;
    border-bottom:none !important ;
}
/* .ant-tabs-tabpane{

} */


.pm_msti{
  margin-left: 40px;
  font-weight: 400;
}
.pm_msti div:nth-child(1){
  font-size: 20px;
}
.pm_msti div:nth-child(2){
  font-size: 14px;
  opacity: .7;
}
.crzh_msti{
  margin-right: 100px;
  opacity: .7;
  line-height: 40px;
}

.Messages .ant-modal-close {
  top: -7px;
  right: -7px;
}
